[Desktop Entry]
Name=Carbon

X-KDE-PluginInfo-Author=Netrunner - based on design by DanRabbit & Garthecho
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=Carbon
X-KDE-PluginInfo-Version=2.0
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V2
X-KDE-PluginInfo-EnabledByDefault=true
